apiVersion: v1
kind: PersistentVolume
metadata:
  name: llm-baseline-pv
  labels:
    type: local
spec:
  storageClassName: gp2
  capacity:
    storage: 100Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/data/llm-baseline"
  persistentVolumeReclaimPolicy: Retain
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: llm-pvc
  labels:
    app: llm-baseline
spec:
  storageClassName: gp2
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
